{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'main.css' %}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body>
    <section class="home">
        <div class="logo">
            <a href="#"><img src="static/mainlogo.png" alt=""></a>
            <p></p>
        </div>
        
    </section>
    <a href="./login" class="but" id="form-open"><img src="static/login-icon.png">Увійти</a>
    </section>
  </body>
</html>
