{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'dostavka.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">   
    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        width: 100%; /* Adjust width as needed */
      }
            /* Hide initially */
            #order_info_map {
        opacity: 0;
      }

      /* Show when active class is added */
      #order_info_map.active {
        opacity: 1;
      }
    </style>
</head>
<body>
    <header>
        <img src="{% static 'logo.png' %}" alt="">
        <ul>
            <li style="padding:12px 32px;background:#224F55; border-radius:10px"><a href="/main" style="color:white;">Доставка</a></li>
            <li style="padding:12px 32px;"><a href="/main2">Створити замовлення</a></li>
            <li style="padding:12px 32px;"><a href="/main3">Склади</a></li>
        </ul>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="logout">
              <img src="{% static 'logout-icon.png' %}" alt="Logout">
              <span>Вийти</span>
            </button>
          </form>
    </header>
    <div class="start">
        <div class="text">
            <h1 class="main_h1">Доставка</h1>
            <div class="selector">
                <a href="#" style="justify-content: center;
                background: #FFFFFF;
                box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
                border-radius: 10px;
                width: 136px;
                height: 33px;
                display: flex;
                align-items: center;">
                    У планах
                </a>
                <a href="/dostavka_now">
                    У дорозі
                </a>
                <a href="/dostavka_comp" style="padding-right:20px;">
                    Завершені
                </a>
            </div>
        </div>
    </div>
    
<section class="main_section">
    <div class="left">
      <div class="all_orders">
        {% if orders %}
            <ul>
              {% for order in orders %}
                {% if order.status == 0 %}
                  <li class="all_of_orders" data-order-id="{{ order.id }}">
                        <img src="../static/order-icon.png">
                        <div>
                            <h3>{{ order.name }}</h3>
                            <h4>До {{ order.destination }}</h4>
                            {% with order.order_product_set.first.warehouse as warehouse %}
                                <h4>Від {{ warehouse.name }}</h4>
                            {% endwith %}
                            <h4>Пріоритетність: {{ order.priority }}</h4>
                        </div>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>
        {% else %}
            <!-- Handle case where no orders are available -->
        {% endif %}
    </div>
    </div>
    <div class="right">
        <div class="order_details">
          <div id="order_info">

          </div>
        <div id="order_info_map">
          <div id="map"></div>
          <div id="map_info">
        </div>
        </div>
      </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const orderList = document.querySelector('.all_orders');

        orderList.addEventListener('click', function(event) {
            if (event.target.tagName === 'LI') {
                const orderId = event.target.dataset.orderId;
                fetchOrderDetails(orderId);
            }
            if (event.target.classList.contains('all_of_orders')) {
                const orderInfoMap = document.getElementById('order_info_map');
                orderInfoMap.classList.add('active');
            }
        });
    });

    function fetchOrderDetails(orderId) {
  // Make an AJAX request to fetch order details
  fetch(`/api/order/${orderId}/`)
    .then(response => response.json())
    .then(data => {
      // Populate order details in the right side
      const orderInfo = document.getElementById('order_info');
      orderInfo.innerHTML = `
        <div id="map_info">
          <div id="top">
            <p>Дистанція</p>
            <p style="padding-right: 54px;">Час</p>
            <p style="padding-right: 26px;">Машина</p>
            <p>Сума</p>
          </div>
          <div id="bottom">
            <div id="msg"></div>
            <div id="time"></div>
            <div id="car"></div>
            <div id="fuel"></div>
          </div>
        </div>
        <form method="post">
          <div class="warehouse_input">
            <div class="name_sklad">
              <h2 style="font-size: 36px">${data.name}</h2>
              <p style="font-size: 20px; margin-top: 20px">${data.destination}</p>
              <p style="font-size: 20px; margin-top: 20px">${data.starting_point}</p>
              <p style="font-size: 20px; margin-top: 20px">${data.priority}</p>
              <h3>Order Products:</h3>
              <ul>
                ${data.order_products.map(product => `<li>${product.name} - Weight: ${product.weight}, Amount: ${product.amount}</li>`).join('')}
              </ul>
              <h3>Order Vehicles:</h3>
              <ul>
                ${data.order_vehicles.map(product => `<li>${product.name}</li>`).join('')}
              </ul>
              <input type="hidden" name="order_status" id="order_status" value="${data.status}">
              <button type="button" id="mark-in-the-way">In the Way</button>
            </div>
          </div>
        </form>`;
      const startLocation = data.starting_point; // Assuming starting_point is a string representation of the location (e.g., address)
      const endLocation = data.destination;   // Assuming destination is a string representation of the location (e.g., address)
      
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      const status_data = {
        status: 1,
    };
    console.log('status_data:', status_data);
        
        // Add event listener for "In the Way" button click
        const inTheWayButton = document.getElementById('mark-in-the-way');
        inTheWayButton.addEventListener('click', () => {
            // Make an AJAX request to update order status
            fetch(`/api/order/${orderId}/update_status/`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken // Add CSRF token header
                },
                body: JSON.stringify(status_data) // Set status to 1 (In the Way)
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
                    // Update order details locally or refetch them for confirmation
                } else {
                    alert('Failed to update warehouse details: ' + data.error); // Display specific error
                }
            })
            .catch(error => console.error('Error sending update request:', error));
        });
    })
    .catch(error => console.error('Error fetching order details:', error));
}
// function geocodeAndShowRoute(startAddress, endAddress) {
//   const geocoder = new google.maps.Geocoder();

//   geocoder.geocode({ address: startAddress }, function(results, status) {
//     if (status === 'OK') {
//       const startLatLng = results[0].geometry.location;

//       geocoder.geocode({ address: endAddress }, function(results, status) {
//         if (status === 'OK') {
//           const endLatLng = results[0].geometry.location;

//           // Use startLatLng and endLatLng to display the route on the map
//           // (assuming you already have map and directionsService objects defined)
//           directionsService.route({
//             origin: startLatLng,
//             destination: endLatLng,
//             travelMode: google.maps.TravelMode.DRIVING // Adjust travel mode as needed
//           }, function(response, status) {
//             if (status === 'OK') {
//               directionsRenderer.setDirections(response);
//             } else {
//               console.error('Error displaying route:', status);
//             }
//           });
//         } else {
//           console.error('Error geocoding end location:', status);
//         }
//       });
//     } else {
//       console.error('Error geocoding start location:', status);
//     }
//   });
// }
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        initMap(); // Call initMap when the DOM content is loaded
    });

    // Initialize and add the map
    var map;
    var mk1, mk2; // Declare marker variables globally

    function handleEndInputChange() {
      const endInput = document.getElementById('end-input');
      const startInput = document.getElementById('start-input');
      const endLocation = endInput.value.trim();

      if (endLocation !== '') {
        startInput.value = extractStartLocation();
      } else {
        startInput.value = '';
      }
    }

    function initMap() {
      // The map, centered on Central Park
      const center = { lat: 48.3794, lng: 31.1656 };
      const styles = [
        {
          featureType: 'all',
          elementType: 'labels',
          stylers: [
            {}
          ]
        }
      ];
      const options = {
        zoom: 5.5555,
        scaleControl: true,
        center: center,
        styles: styles,
        disableDefaultUI: true
      };
      const trafficLayer = new google.maps.TrafficLayer();

      trafficLayer.setMap(map);
      map = new google.maps.Map(document.getElementById('map'), options);
      // Locations of landmarks
      const dakota = { lat: 0, lng: 0 };
      const frick = { lat: 0, lng: 0 };
      // Create the markers for The Dakota and The Frick Collection
      mk1 = new google.maps.Marker({ position: dakota, map: map });
      mk2 = new google.maps.Marker({ position: frick, map: map });

      // Autocomplete for start input field
      const startInput = document.getElementById('start_input');
      const startAutocomplete = new google.maps.places.Autocomplete(startInput);
      startAutocomplete.addListener('place_changed', function () {
        const place = startAutocomplete.getPlace();
        if (!place.geometry) {
          return;
        }
        const location = place.geometry.location;
        mk1.setPosition(location);
        map.panTo(location);
        calculateAndDisplayRoute();
      });

      // Autocomplete for end input field
      const endInput = document.getElementById('end_input');
      const endAutocomplete = new google.maps.places.Autocomplete(endInput);
      endAutocomplete.addListener('place_changed', function () {
        const place = endAutocomplete.getPlace();
        if (!place.geometry) {
          return;
        }
        const location = place.geometry.location;
        mk2.setPosition(location);
        map.panTo(location);
        calculateAndDisplayRoute();
      });

      calculateAndDisplayRoute();
    }

    // Function to calculate and display the route
    function calculateAndDisplayRoute() {
      const startLocation = mk1.getPosition();
      const endLocation = mk2.getPosition();

      const directionsService = new google.maps.DirectionsService();
      const directionsRenderer = new google.maps.DirectionsRenderer();
      directionsRenderer.setMap(map); // Existing map object displays directions
      // Create route from start and end locations
      const route = {
        origin: startLocation,
        destination: endLocation,
        travelMode: 'DRIVING'
      };

      directionsService.route(route, function (response, status) {
        // Anonymous function to capture directions
        if (status !== 'OK') {
          return;
        } else {
          directionsRenderer.setDirections(response); // Add route to the map
          const directionsData = response.routes[0].legs[0]; // Get data about the mapped route
          if (!directionsData) {
            window.alert('Directions request failed');
            return;
          } else {
              mapInfo=document.getElementById('map_info');
              mapInfo.style.display = 'flex';
              document.getElementById('msg').innerHTML = 
              directionsData.distance.text;
              document.getElementById('time').innerHTML = directionsData.duration.text;
              document.getElementById('car').innerHTML = 'Renault Megane'
              document.getElementById('fuel').innerHTML = "1236₴"
          }
        }
      });
    }
</script>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP2My21tAxCqpHKTj6CgcetCtB6oMlQ9o&libraries=places&callback=initMap"
></script>
</body>
</html>