{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'zamov.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">  
  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 400px;
      width: 600px;
    }
  </style>
</head>
<body>
    <header>
        <img src="{% static 'logo.png' %}" alt="">
        <ul>
            <li style="padding:12px 32px;"><a href="/main" >Доставка</a></li>
            <li style="padding:12px 32px;background:#224F55; border-radius:10px"><a href="/main2" style="color:white;">Створити замовлення</a></li>
            <li style="padding:12px 32px;"><a href="/main3">Склади</a></li>
        </ul>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="logout">
            <img src="{% static 'logout-icon.png' %}" alt="Logout">
            <span>Вийти</span>
          </button>
        </form>
        
    </header>
    <div class="start">
      <div class="text">
        <h1 class="main_h1">Створити замовлення</h1>
      </div>
    </div>
    <section class="main_section">
      <div class="left">
        <form method="post" action="{% url 'create_order' %}">
          {% csrf_token %}
          <label for="order-name">Назва замовлення:</label>
          <input type="text" id="order_name" name="order_name" onchange="handleEndInputChange()" />
          <label for="end-input">Куди:</label>
          <input type="text" id="end_input" name="end_input" placeholder="" onchange="handleEndInputChange()" />
          <label for="priority">Пріоритетність (від 1 до 100):</label>
          <input type="text" id="priority" name="priority" placeholder="" />
    
          <label>Товари</label>
          <form id="myForm">
            <div id="fieldsContainer">
              <div class="field">
                <select name="options[]" class="options" style="width:359px" id="productSelect" onchange="handleProductChange()">
                  <option value="">--- Виберіть товар ---</option>  {% for product in products %}
                  <option value="{{ product.id }}">{{ product.name }} ({{ product.weight }} кг)</option>
                  {% endfor %}
                </select>
                <input type="text" id="amount" name="amount[]" placeholder="шт." />  
              </div>
            </div>
          
            <button type="button" onclick="addFormField()" style="background: #FFFFFF;border: 1px solid #D0D0D0;box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);border-radius: 15px;font-weight: 400;font-size: 16px;line-height: 24px;color: #7B7B7B;display: flex;align-items: center;justify-content: space-evenly;height: 57px;"><img src="{% static 'add-goods.png' %}">
Додати товар</button>
            <label for="start-input">Звідки:</label>
            <input type="hidden" id="warehouse_id" name="warehouse_id">
            <input type="text" id="start_input" name="start_input" placeholder="" />
            <input type="text" id="start_input_warehouse" name="start_input_warehouse" placeholder="" readonly/>
            <div id="save">
              <button type="submit" style="background: rgba(37, 86, 92, 0.77);
box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
border-radius: 10px;width: 136px;
height: 33px;margin-top:25px"><a  style="color:white;text-decoration:none;font-size: 13px;
line-height: 20px;
text-align: center;">Запланувати</button>
          </div>




        </div>
        <div class="right">
            <!--The div elements for the map and message -->
            <div id="map"></div>
            <div id="map_info">
                <div id="top">
                    <p>Дистанція</p>
                    <p style="padding-right: 54px;">Час</p>
                    <p style="padding-right: 26px;">Машина</p>
                    <p>Сума</p>
                </div>
                <div id="bottom">
                    <div id="msg"></div>
                    <div id="time"></div>
                    <div id="car"></div>
                    <div id="fuel"></div>
                    <input type="hidden" name="vehicle_name" id="vehicle_name">
                    <input type="hidden" name="vehicle_capacity" id="vehicle_capacity">
                    <input type="hidden" name="vehicle_fuel_amount" id="vehicle_fuel_amount">
                </div>
            </div>
          </form>
        </form>
            <!-- Input fields for marker coordinates -->
            <br />
        </div>
    

<!--Load the API from the specified URL -- remember to replace YOUR_API_KEY-->
<script>
  // Initialize and add the map
  var map;
var mk1, mk2; // Declare marker variables globally
var csvData;

function fetchCSVData() {
  fetch('warehouses.csv') // Replace 'warehouses.csv' with the correct path to your CSV file
    .then(response => response.text())
    .then(data => {
      csvData = data;
    })
    .catch(error => console.error('Error:', error));
}

function extractStartLocation() {
  const lines = csvData.split('\n');
  const firstRow = lines[1].split(',');
  const startLocation = firstRow[2]; // Assuming the third column is the 'Location' column

  return startLocation;
}

function handleEndInputChange() {
  const endInput = document.getElementById('end-input');
  const startInput = document.getElementById('start-input');
  const endLocation = endInput.value.trim();

  if (endLocation !== '') {
    startInput.value = extractStartLocation();
  } else {
    startInput.value = '';
  }
}

function initMap() {
  // The map, centered on Central Park
  const center = { lat: 48.3794, lng: 31.1656 };
  const styles = [
    {
      featureType: 'all',
      elementType: 'labels',
      stylers: [{}]
    }
  ];
  const options = {
    zoom: 5.5555,
    scaleControl: true,
    center: center,
    styles: styles,
    disableDefaultUI: true
  };
  const trafficLayer = new google.maps.TrafficLayer();

  trafficLayer.setMap(map);
  map = new google.maps.Map(document.getElementById('map'), options);
  // Locations of landmarks
  const dakota = { lat: 0, lng: 0 };
  const frick = { lat: 0, lng: 0 };
  // Create the markers for The Dakota and The Frick Collection
  mk1 = new google.maps.Marker({ position: dakota, map: map });
  mk2 = new google.maps.Marker({ position: frick, map: map });

  // Autocomplete for start input field
  const startInput = document.getElementById('start_input');
  const startAutocomplete = new google.maps.places.Autocomplete(startInput);
  google.maps.event.addDomListener(startInput, 'input', function () {
    google.maps.event.trigger(startInput, 'keydown', { keyCode: 40 });
    google.maps.event.addDomListenerOnce(startInput, 'keydown', function (e) {
      if (e.keyCode === 13) {
        e.preventDefault();
      }
    });
  });
  startAutocomplete.addListener('place_changed', function () {
    const place = startAutocomplete.getPlace();
    if (!place.geometry) {
      return;
    }
    const location = place.geometry.location;
    mk1.setPosition(location);
    map.panTo(location);
    calculateAndDisplayRoute();
  });

  // Autocomplete for end input field
  const endInput = document.getElementById('end_input');
  const endAutocomplete = new google.maps.places.Autocomplete(endInput);
  endAutocomplete.addListener('place_changed', function () {
    const place = endAutocomplete.getPlace();
    if (!place.geometry) {
      return;
    }
    const location = place.geometry.location;
    mk2.setPosition(location);
    map.panTo(location);
    calculateAndDisplayRoute();
  });

  fetchCSVData();
  calculateAndDisplayRoute();
}

// Event listener for changes in the start_input field
document.getElementById('start_input').addEventListener('input', function () {
  calculateAndDisplayRoute();
});


  function addFormField() {
    // Create a new field element (div)
    const newField = document.createElement('div');
    newField.classList.add('field');

    // Create a new select element (copy of the existing one)
    const newSelect = document.getElementById('productSelect').cloneNode(true);

    // Create a new input element for amount
    const newAmountInput = document.createElement('input');
    newAmountInput.type = 'text';
    newAmountInput.id = 'amount'; // Avoid duplicate IDs, use a counter instead
    newAmountInput.name = 'amount[]'; // Ensure it's included in the list
    newAmountInput.placeholder = 'шт.';

               // Create the remove button
    var removeButton = document.createElement("button");
    removeButton.type = "button";
    removeButton.id = "remove_tovar";
    removeButton.className = "remove-vehicle";
  
    var removeButtonImage = document.createElement("img");
    removeButtonImage.src = "../static/cross-circle.png";
    removeButtonImage.alt = "Видалити товар (Delete Product)";
    removeButton.appendChild(removeButtonImage);
  
    // Add event listener to remove button
    removeButton.addEventListener("click", function () {
      newField.remove();
    });

    // Append the select and amount input to the new field
    newField.appendChild(newSelect);
    newField.appendChild(newAmountInput);
    newField.appendChild(removeButton);

    // Add the new field to the fieldsContainer
    document.getElementById('fieldsContainer').appendChild(newField);
  }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP2My21tAxCqpHKTj6CgcetCtB6oMlQ9o&libraries=places&callback=initMap"
></script>
<script>
  
// Modify handleProductChange function to set warehouse ID
function handleProductChange() {
    const selectedProductId = document.getElementById("productSelect").value;

    // Fetch warehouse for the selected product (assuming a foreign key relationship)
    fetch(`/api/warehouses/${selectedProductId}`) // Replace with your API endpoint
        .then(response => response.json())
        .then(data => {
            if (data) {
                document.getElementById("start_input").value = data.location;
                document.getElementById("warehouse_id").value = data.id; // Set the warehouse ID
                document.getElementById("start_input_warehouse").value = data.name;

                // Simulate click on start_input
                document.getElementById("start_input").focus();
                startInput.dispatchEvent(new KeyboardEvent('keydown', {'keyCode': 40})); 
                startInput.dispatchEvent(new KeyboardEvent('keydown', {'keyCode': 13})); 
            } else {
                // Handle case where no warehouse found (optional: clear or display message)
                document.getElementById("start_input").value = "";
                document.getElementById("warehouse_id").value = "";
                document.getElementById("start_input_warehouse").value = "";
            }
        })
        .catch(error => console.error(error));
}


function calculateTotalWeight() {
    let totalWeight = 0;
    const amountInputs = document.getElementsByName('amount[]');
    const weightInputs = document.querySelectorAll('.options option:checked');

    // Iterate over the amount inputs and corresponding weights
    for (let i = 0; i < amountInputs.length; i++) {
        const amount = parseInt(amountInputs[i].value);
        console.log(amount);
        const weightOption = weightInputs[i]; // Get the corresponding weight option
        if (!weightOption) continue; // Skip if weight option is undefined
        let weightText = weightOption.innerText;
        weightText = weightText.replace('(', ''); // Remove '('
        weightText = weightText.replace(' кг)', ''); // Remove ' кг)'
        const weight = parseFloat(weightText.split(' ')[1]); // Assuming the weight is in the format "XX кг"
        console.log(weight);

        // Add the product weight multiplied by its amount to the total weight
        if (!isNaN(amount) && !isNaN(weight)) {
            totalWeight += amount * weight;
        }
    }

    return totalWeight;
}


// Modify calculateAndDisplayRoute function to use warehouse ID
function calculateAndDisplayRoute() {
    const startLocation = mk1.getPosition();
    const endLocation = mk2.getPosition();
    const warehouseId = document.getElementById("warehouse_id").value; // Get the warehouse ID

    const directionsService = new google.maps.DirectionsService();
    const directionsRenderer = new google.maps.DirectionsRenderer();
    directionsRenderer.setMap(map);

    const route = {
        origin: startLocation,
        destination: endLocation,
        travelMode: 'DRIVING'
    };

    directionsService.route(route, function (response, status) {
        if (status !== 'OK') {
            return;
        } else {
            directionsRenderer.setDirections(response);
            const directionsData = response.routes[0].legs[0];
            if (!directionsData) {
                window.alert('Directions request failed');
                return;
            } else {
                mapInfo = document.getElementById('map_info');
                mapInfo.style.display = 'flex';
                document.getElementById('msg').innerHTML = directionsData.distance.text;
                document.getElementById('time').innerHTML = directionsData.duration.text;

                // Fetch vehicles
                fetch(`/api/vehicle/${warehouseId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (Array.isArray(data)) {
                            // Filter vehicles based on capacity >= total weight
                            const totalWeight = calculateTotalWeight();
                            const suitableVehicles = data.filter(vehicle => vehicle.capacity >= totalWeight);

                            if (suitableVehicles.length > 0) {
                                // Find vehicle with smallest fuel amount among suitable vehicles
                                const vehicleWithLeastFuel = suitableVehicles.reduce((previous, current) => {
                                    return parseFloat(previous.fuel_amount) < parseFloat(current.fuel_amount) ? previous : current;
                                });

                                // Update UI with details of selected vehicle
                                document.getElementById('car').innerHTML = vehicleWithLeastFuel.name;
                                document.getElementById('vehicle_name').value = vehicleWithLeastFuel.name;
                                document.getElementById('vehicle_capacity').value = vehicleWithLeastFuel.capacity;
                                document.getElementById('vehicle_fuel_amount').value = vehicleWithLeastFuel.fuel_amount;
                                const fuelAmount = parseFloat(vehicleWithLeastFuel.fuel_amount) * 55 / 100;
                                const distance = parseFloat(directionsData.distance.value) / 1000;
                                const totalFuelCost = fuelAmount * distance;
                                document.getElementById('fuel').innerHTML = totalFuelCost.toFixed(2) + ' ₴';
                            } else {
                                // Handle case where no suitable vehicle is found
                                console.warn('No suitable vehicles found for the given total weight.');
                                // Update UI or display message accordingly
                            }
                        } else {
                            console.warn('API response for vehicles might be incorrect. Expected an array.');
                            // Handle potential single vehicle case or unexpected response format (optional)
                        }
                    })
                    .catch(error => console.error('Error fetching vehicles:', error));
            }
        }
    });
}
</script>
<!-- Button to change marker positions -->

</body>
</html>
