{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'zamov.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">  
  <style>

    #map {
      height: 400px;
      width: 600px;
    }
  </style>
</head>
<body>
    <header>
        <img src="{% static 'logo.png' %}" alt="">
        <ul>
            <li style="padding:12px 32px;"><a href="/main" >Доставка</a></li>
            <li style="padding:12px 32px;background:#224F55; border-radius:10px"><a href="/main2" style="color:white;">Створити замовлення</a></li>
            <li style="padding:12px 32px;"><a href="/main3">Склади</a></li>
        </ul>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="logout">
            <img src="{% static 'logout-icon.png' %}" alt="Logout">
            <span>Вийти</span>
          </button>
        </form>
        
    </header>
    <div class="start">
      <div class="text">
        <h1 class="main_h1">Створити замовлення</h1>
      </div>
    </div>
    <section class="main_section">
      <div class="left">
        <form method="post" action="{% url 'create_order' %}">
          {% csrf_token %}
          <label for="order-name">Назва замовлення:</label>
          <input type="text" id="order_name" name="order_name"/>
          <label for="end-input">Куди:</label>
          <input type="text" id="end_input" name="end_input" placeholder=""/>
          <label for="priority">Пріоритетність (від 1 до 100):</label>
          <input type="text" id="priority" name="priority" placeholder="" />
    
          <label>Товари</label>
          <form id="myForm">
            <div id="fieldsContainer" style="
            display: flex;
            flex-direction: column;
            gap: 10px;">
              <div class="field" >
                <select name="options[]" class="options" style="width:359px" id="productSelect1" onchange="handleProductChange(1)">
                  <option value="">--- Виберіть товар ---</option>  {% for product in products %}
                  <option value="{{ product.id }}">{{ product.name }} ({{ product.weight }} кг)</option>
                  {% endfor %}
                </select>
                <input type="text" id="amount1" name="amount[]" placeholder="шт." />  
              </div>
            </div>
          
            <button type="button" onclick="addFormField()" style="background: #FFFFFF;border: 1px solid #D0D0D0;box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);border-radius: 15px;font-weight: 400;font-size: 16px;line-height: 24px;color: #7B7B7B;display: flex;align-items: center;justify-content: space-evenly;height: 57px;cursor: pointer;    width: 200px;"><img src="{% static 'add-goods.png' %}">
Додати товар</button>
            <label for="start-input">Звідки:</label>
            <input type="hidden" id="warehouse_id" name="warehouse_id">
            <input type="text" id="start_input" name="start_input" placeholder="" readonly/>
            <input type="text" id="start_input_warehouse" name="start_input_warehouse" placeholder="" readonly/>
            <div id="save">
              <button type="submit">Запланувати</button>
          </div>

        </div>
        <div class="right">
            <div id="map"></div>
            <div id="map_info">
                <div id="top">
                    <p>Дистанція</p>
                    <p style="padding-right: 54px;">Час</p>
                    <p style="padding-right: 26px;">Машина</p>
                    <p>Сума</p>
                </div>
                <div id="bottom">
                    <div id="msg"></div>
                    <div id="time"></div>
                    <div id="car"></div>
                    <div id="fuel"></div>
                    <input type="hidden" name="vehicle_name" id="vehicle_name">
                    <input type="hidden" name="vehicle_capacity" id="vehicle_capacity">
                    <input type="hidden" name="vehicle_fuel_amount" id="vehicle_fuel_amount">
                </div>
            </div>
          </form>
        </form>
            <br />
        </div>
    
<script>
  // Initialize and add the map
  var map;
        var mk1, mk2; 
        var directionsService;
        var directionsRenderer;
        var geocoder;

        function initMap() {
            const center = { lat: 48.3794, lng: 31.1656 };
            const styles = [
                {
                    featureType: 'all',
                    elementType: 'labels',
                    stylers: [{}]
                }
            ];
            const options = {
                zoom: 5.5555,
                scaleControl: true,
                center: center,
                styles: styles,
                disableDefaultUI: true
            };

            map = new google.maps.Map(document.getElementById('map'), options);
            const trafficLayer = new google.maps.TrafficLayer();
            trafficLayer.setMap(map);

            mk1 = new google.maps.Marker({ map: map });
            mk2 = new google.maps.Marker({ map: map });

            directionsService = new google.maps.DirectionsService();
            directionsRenderer = new google.maps.DirectionsRenderer();
            directionsRenderer.setMap(map);

            geocoder = new google.maps.Geocoder();

            const startInput = document.getElementById('start_input');
            const startAutocomplete = new google.maps.places.Autocomplete(startInput);
            startAutocomplete.addListener('place_changed', function () {
                const place = startAutocomplete.getPlace();
                if (!place.geometry) return;
                const location = place.geometry.location;
                mk1.setPosition(location);
                map.panTo(location);
                calculateAndDisplayRoute();
            });

            const endInput = document.getElementById('end_input');
            const endAutocomplete = new google.maps.places.Autocomplete(endInput);
            endAutocomplete.addListener('place_changed', function () {
                const place = endAutocomplete.getPlace();
                if (!place.geometry) return;
                const location = place.geometry.location;
                mk2.setPosition(location);
                map.panTo(location);
                calculateAndDisplayRoute();
            });

            // Listen for input changes to manually trigger geocoding
            startInput.addEventListener('input', function () {
                const input = this.value;
                if (input) {
                    geocoder.geocode({ address: input }, function (results, status) {
                        if (status === 'OK' && results[0]) {
                            const location = results[0].geometry.location;
                            mk1.setPosition(location);
                            map.panTo(location);
                            calculateAndDisplayRoute();
                        }
                    });
                }
            });

            endInput.addEventListener('input', function () {
                const input = this.value;
                if (input) {
                    geocoder.geocode({ address: input }, function (results, status) {
                        if (status === 'OK' && results[0]) {
                            const location = results[0].geometry.location;
                            mk2.setPosition(location);
                            map.panTo(location);
                            calculateAndDisplayRoute();
                        }
                    });
                }
            });
        }



let fieldCounter = 0;

function addFormField() {
            const fieldCounter = document.getElementsByClassName('field').length + 1;

            const newField = document.createElement('div');
            newField.classList.add('field');
            newField.setAttribute('id', `field${fieldCounter}`);

            const newSelect = document.getElementById('productSelect1').cloneNode(true);
            newSelect.id = `productSelect${fieldCounter}`;
            newSelect.setAttribute('onchange', `handleProductChange(${fieldCounter})`);

            const newAmountInput = document.createElement('input');
            newAmountInput.type = 'text';
            newAmountInput.id = `amount${fieldCounter}`;
            newAmountInput.name = 'amount[]';
            newAmountInput.placeholder = 'шт.';

            const removeButton = document.createElement('button');
            removeButton.type = 'button';
            removeButton.id = 'remove_tovar';
            removeButton.className = 'remove-vehicle';

            const removeButtonImage = document.createElement('img');
            removeButtonImage.src = "../static/cross-circle.png";
            removeButtonImage.alt = "Видалити товар (Delete Product)";
            removeButton.appendChild(removeButtonImage);

            removeButton.addEventListener('click', function () {
                newField.remove();
            });

            newField.appendChild(newSelect);
            newField.appendChild(newAmountInput);
            newField.appendChild(removeButton);

            document.getElementById('fieldsContainer').appendChild(newField);
        }
</script>
<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP2My21tAxCqpHKTj6CgcetCtB6oMlQ9o&libraries=places&callback=initMap"
></script>
<script>
  
  function handleProductChange(fieldCounter) {
            const selectedProductId = document.getElementById(`productSelect${fieldCounter}`).value;

            fetch(`/api/warehouses/${selectedProductId}`)
                .then(response => response.json())
                .then(data => {
                    if (data) {
                        const startInput = document.getElementById('start_input');
                        startInput.value = data.location;
                        document.getElementById('warehouse_id').value = data.id;
                        document.getElementById('start_input_warehouse').value = data.name;

                        const amountInput = document.getElementById(`amount${fieldCounter}`);
                        amountInput.addEventListener('input', function () {
                            if (this.value.trim() !== '') {
                                triggerGeocodeAndDisplayMap(data.location);
                            }
                        });

                        if (fieldCounter === 1) {
                            triggerGeocodeAndDisplayMap(data.location);
                        }
                    } else {
                        document.getElementById('start_input').value = '';
                        document.getElementById('warehouse_id').value = '';
                        document.getElementById('start_input_warehouse').value = '';
                    }
                })
                .catch(error => console.error(error));
        }

        function triggerGeocodeAndDisplayMap(address) {
            if (address) {
                geocoder.geocode({ address: address }, function (results, status) {
                    if (status === 'OK' && results[0]) {
                        const location = results[0].geometry.location;
                        mk1.setPosition(location);
                        map.panTo(location);
                        calculateAndDisplayRoute();
                    }
                });
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            handleProductChange(1);
        });


function calculateTotalWeight() {
    let totalWeight = 0;
    const amountInputs = document.getElementsByName('amount[]');
    const weightInputs = document.querySelectorAll('.options option:checked');

    for (let i = 0; i < amountInputs.length; i++) {
        const amount = parseInt(amountInputs[i].value);

        const weightOption = weightInputs[i];
        if (!weightOption) continue;
        let weightText = weightOption.innerText;
        weightText = weightText.replace('(', ''); 
        weightText = weightText.replace(' кг)', ''); 
        const weight = parseFloat(weightText.split(' ')[1]);

        if (!isNaN(amount) && !isNaN(weight)) {
            totalWeight += amount * weight;
        }
    }
    console.log(totalWeight);
    return totalWeight;
}


document.getElementById('start_input').addEventListener('input', function () {
    if (this.value.trim() !== '') {
        calculateAndDisplayRoute();
    }
});

document.getElementById('end_input').addEventListener('input', function () {
    if (this.value.trim() !== '') {
        calculateAndDisplayRoute();
    }
});

function calculateAndDisplayRoute() {
    const startLocation = mk1.getPosition();
    const endLocation = mk2.getPosition();
    const warehouseId = document.getElementById("warehouse_id").value;
    const totalWeight = calculateTotalWeight();

    if (!startLocation || !endLocation) return;

    const route = {
        origin: startLocation,
        destination: endLocation,
        travelMode: 'DRIVING'
    };

    directionsService.route(route, function (response, status) {
        if (status !== 'OK') {
            return;
        } else {
            directionsRenderer.setDirections(response);
            const directionsData = response.routes[0].legs[0];
            if (!directionsData) {
                window.alert('Directions request failed');
                return;
            } else {
                mapInfo = document.getElementById('map_info');
                mapInfo.style.display = 'flex';
                document.getElementById('msg').innerHTML = directionsData.distance.text;
                document.getElementById('time').innerHTML = directionsData.duration.text;

                fetch(`/api/vehicle/${warehouseId}`)
                    .then(response => response.json())
                    .then(data => {
                        if (Array.isArray(data)) {
                            const suitableVehicles = data.filter(vehicle => vehicle.capacity >= totalWeight);

                            if (suitableVehicles.length > 0) {
                                const vehicleWithLeastFuel = suitableVehicles.reduce((previous, current) => {
                                    return parseFloat(previous.fuel_amount) < parseFloat(current.fuel_amount) ? previous : current;
                                });

                                document.getElementById('car').innerHTML = vehicleWithLeastFuel.name;
                                document.getElementById('vehicle_name').value = vehicleWithLeastFuel.name;
                                document.getElementById('vehicle_capacity').value = vehicleWithLeastFuel.capacity;
                                document.getElementById('vehicle_fuel_amount').value = vehicleWithLeastFuel.fuel_amount;
                                const fuelAmount = parseFloat(vehicleWithLeastFuel.fuel_amount) * 55 / 100;
                                const distance = parseFloat(directionsData.distance.value) / 1000;
                                const totalFuelCost = fuelAmount * distance;
                                document.getElementById('fuel').innerHTML = totalFuelCost.toFixed(2) + ' ₴';
                            } else {
                                console.warn('No suitable vehicles found for the given total weight.');
                            }
                        } else {
                            console.warn('API response for vehicles might be incorrect. Expected an array.');
                        }
                    })
                    .catch(error => console.error('Error fetching vehicles:', error));
            }
        }
    });
}
</script>

</body>
</html>
