{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'dostavka.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">   
    <style>
      #map {
        height: 400px;
        width: 100%; 
      }
      #order_info_map {
        opacity: 0;
      }
      #order_info_map.active {
        opacity: 1;
      }
    </style>
</head>
<body>
<header>
    <img src="{% static 'logo.png' %}" alt="">
    <ul>
        <li style="padding:12px 32px;background:#224F55; border-radius:10px"><a href="/planned_orders" style="color:white;">Доставка</a></li>
        <li style="padding:12px 32px;"><a href="/creating_order">Створити замовлення</a></li>
        <li style="padding:12px 32px;"><a href="/warehouses">Склади</a></li>
    </ul>
    <form action="{% url 'logout' %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit" class="logout">
          <img src="{% static 'logout-icon.png' %}" alt="Logout">
          <span>Вийти</span>
        </button>
    </form>
    
</header>

<div class="start">
    <div class="text">
        <h1 class="main_h1">Доставка</h1>
        <div class="selector">
            <a href="#" style="justify-content: center; background: #FFFFFF; box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15); border-radius: 10px; width: 136px; height: 33px; display: flex; align-items: center;">
                У планах
            </a>
            <a href="/orders_on_the_way">У дорозі</a>
            <a href="/completed_orders" style="padding-right:20px;">Завершені</a>
        </div>
        <div class="search-container" style="position:relative; display:inline-block; margin-left:20%;">
            <input type="text" id="searchInput" placeholder="Пошук замовлення..." style="padding:12px; border-radius:10px;">
            <div id="searchResults" class="search-results" style="position:absolute; top:100%; left:0; right:0;  display:none; z-index:1000;">
                <!-- Search results will be appended here -->
            </div>
        </div>
    </div>
</div>

<section class="main_section">
    <div class="left">
      <div class="all_orders">
        {% if orders %}
            <ul>
              {% for order in orders|dictsort:"priority" %}
                {% if order.status == 0 %}
                  <li class="all_of_orders" data-order-id="{{ order.id }}">
                        <img src="../static/order-icon.png">
                        <div>
                            <h3>{{ order.name }}</h3>
                            <h4>До {{ order.destination }}</h4>
                            {% with order.order_product_set.first.warehouse as warehouse %}
                                <h4 id="warehouse_name">Від {{ warehouse.name }}</h4>
                            {% endwith %}
                            <h4>Пріоритетність: {{ order.priority }}</h4>
                        </div>
                    </li>
                  {% endif %}
                {% endfor %}
            </ul>
        {% else %}
        {% endif %}
    </div>
    </div>
    <div class="right">
      <div id="order_info_map">
        <div id="map" style="width: 600px;height: 406px;border-radius: 35px;box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);"></div>
        <div id="map_info"></div>
      </div>  
      <div class="order_details">
          <div id="order_info">
          </div>
      </div>
</section>

<script>

document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('searchInput');
    const searchResults = document.getElementById('searchResults');

    searchInput.addEventListener('input', function() {
        const query = this.value.trim();

        if (query.length > 0) {
            fetch(`/api/search_orders/?query=${query}`, {
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => response.json())
            .then(data => {
                searchResults.innerHTML = '';

                if (data.orders.length > 0) {
                    data.orders.forEach(order => {
                        const orderElement = document.createElement('div');
                        orderElement.classList.add('search-result-item');

                        let statusText = '';
                        switch(order.status) {
                            case 0:
                                statusText = 'У планах';
                                break;
                            case 1:
                                statusText = 'У дорозі';
                                break;
                            case 2:
                                statusText = 'Завершені';
                                break;
                            default:
                                statusText = 'Невідомий статус';
                        }

                        orderElement.innerHTML = `<img src="../static/order-icon.png"><a href="#" data-order-id="${order.id}" data-status="${order.status}"><h3>${order.name}</h3> <h4>До ${order.destination}</h4> <h4>Від ${order.starting_point}</h4> <h4>${statusText}</h4></a>`;
                        searchResults.appendChild(orderElement);
                    });
                    searchResults.style.display = 'block';
                } else {
                    searchResults.innerHTML = '<div class="search-result-item">Замовлень не знайдено</div>';
                    searchResults.style.display = 'block';
                }
            })
            .catch(error => {
                console.error('Помилка при пошуку замовлень:', error);
                searchResults.style.display = 'none';
            });
        } else {
            searchResults.style.display = 'none';
        }
    });

    document.addEventListener('click', function(event) {
        if (!searchResults.contains(event.target) && !searchInput.contains(event.target)) {
            searchResults.style.display = 'none';
        }
    });

    searchResults.addEventListener('click', function(event) {
        const target = event.target.closest('a[data-order-id]');
        if (target) {
            event.preventDefault();
            const orderId = target.dataset.orderId;
            const status = parseInt(target.dataset.status, 10);

            let redirectUrl = '/planned_orders';
            if (status === 1) {
                redirectUrl = '/orders_on_the_way';
            } else if (status === 2) {
                redirectUrl = '/completed_orders';
            }

            window.location.href = `${redirectUrl}?orderId=${orderId}`;
        }
    });
});

document.addEventListener('DOMContentLoaded', function() {
    const urlParams = new URLSearchParams(window.location.search);
    const orderId = urlParams.get('orderId');
    if (orderId) {
        //const warehouseName = ""; // Pass the appropriate warehouse name if available
        fetchOrderDetails(orderId, warehouseName);
    }
});

const warehouseName = "";
document.addEventListener('DOMContentLoaded', function() {
    const orderList = document.querySelector('.all_orders');

    orderList.addEventListener('click', function(event) {
        let targetElement = event.target;

        // Traverse up the DOM tree to find the LI element if the target is inside an LI
        while (targetElement && targetElement.tagName !== 'LI') {
            targetElement = targetElement.parentElement;
        }

        if (targetElement && targetElement.classList.contains('all_of_orders')) {
            const orderId = targetElement.dataset.orderId;
            const warehouseName = targetElement.querySelector('#warehouse_name').innerHTML;
            console.log(warehouseName);

            fetchOrderDetails(orderId, warehouseName);

            const orderInfoMap = document.getElementById('order_info_map');
            orderInfoMap.classList.add('active');
        }
    });
});

function fetchOrderDetails(orderId, warehouseName) {
 
  fetch(`/api/order/${orderId}/`)
    .then(response => response.json())
    .then(data => {
 
      const orderInfo = document.getElementById('order_info');
      
      orderInfo.innerHTML = `
        <div id="map_info" class="order_mapInfo">
          <div id="top">
            <p>Дистанція</p>
            <p>Час</p>
            <p>Машина</p>
            <p>Сума</p>
          </div>
          <div id="bottom">
            <div id="msg"></div>
            <div id="time"></div>
            <div id="car"></div>
            <div id="fuel"></div>
          </div>
        </div>
        <form method="post">
          <div class="warehouse_input">
            <div class="name_sklad" style="width: 600px;margin-top: 40px;">
              <h2 style="font-size: 36px">${data.name}</h2>
              <p style="font-size: 20px; margin-top: 20px">Куди: ${data.destination}</p>
              <p style="font-size: 20px; margin-top: 20px">Звідки: ${data.starting_point}</p>
              <p style="font-size: 20px; margin-top: 20px; display:none;">${warehouseName}</p>
              <p style="font-size: 20px; margin-top: 20px">Пріоритетність: ${data.priority}</p>
              <h3 style="margin-top:30px;margin-bottom:15px;">Товари:</h3>
              <ul style="display:flex;flex-direction:column;gap:10px;">
                ${data.order_products.map(product => `<div style="display:flex;gap:5px;"><input type="text" id="product_name_${product.id}" name="product_name_${product.id}" value="${product.name}" readonly>
                          <!-- Add input fields for product weight and amount -->
                          <input style="width:107px;" class="small_input" type="text" id="product_weight_${product.id}" name="product_weight_${product.id}" value="${product.weight} кг" readonly>
                          <input style="width:107px;" class="small_input" type="text" id="product_amount_${product.id}" name="product_amount_${product.id}" value="${product.amount} шт." readonly></div>`).join('')}
              </ul>
              
              <ul style="visibility: hidden;">
                ${data.order_vehicles.map(vehicle => `<div id="vehicles_info" style="display:flex;"><input type="text" id="product_name_${vehicle.id}" name="product_name_${vehicle.id}" value="${vehicle.name}" readonly>
                  <input type="hidden" value="${vehicle.fuel_amount}">`).join('')}
              </ul>
              <div style="display:flex;gap:20px; align-items:center; flex-direction:row-reverse;  justify-content:space-between">
                <button type="button" id="deleteButtonDiv" data-order-id="${orderId} " onclick="deleteOrder(${orderId})">
                      <img style="width:35px;" src="/static/cross-circle.png">Видалити замовлення
                      </button>
                <input type="hidden" name="order_status" id="order_status" value="${data.status}">
                <button type="button" id="mark-in-the-way">У дорогу</button>
              </div>
            </div>
          </div>
        </form>`;

        const orderInfoMap = document.getElementById('order_info_map');
        orderInfoMap.classList.add('active');

        initMap(data.starting_point, data.destination);
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      const status_data = {
        status: 1,
    };
        

        const inTheWayButton = document.getElementById('mark-in-the-way');
        inTheWayButton.addEventListener('click', () => {
          
            fetch(`/api/order/${orderId}/update_status/`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken 
                },
                body: JSON.stringify(status_data)
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload();
               
                } else {
                    alert('Failed to update warehouse details: ' + data.error); 
                }
            })
            .catch(error => console.error('Error sending update request:', error));
        });
    })
    .catch(error => console.error('Error fetching order details:', error));
}
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        initMap(); 
    });

    // Initialize and add the map
    var map;
    var mk1, mk2; 

    function handleEndInputChange() {
      const endInput = document.getElementById('end-input');
      const startInput = document.getElementById('start-input');
      const endLocation = endInput.value.trim();

      if (endLocation !== '') {
        startInput.value = extractStartLocation();
      } else {
        startInput.value = '';
      }
    }

    function initMap(startingPoint, destination) {
    const geocoder = new google.maps.Geocoder();
    const map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: { lat: 48.3794, lng: 31.1656 }, // Centered in Ukraine
        disableDefaultUI: true,
        scaleControl: true
    });
    
    geocoder.geocode({ 'address': startingPoint }, function(results, status) {
        if (status === 'OK') {
            const startLocation = results[0].geometry.location;
            geocoder.geocode({ 'address': destination }, function(results, status) {
                if (status === 'OK') {
                    const endLocation = results[0].geometry.location;
                    calculateAndDisplayRoute(map, startLocation, endLocation);
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        } else {
            
        }
    });
}

function calculateAndDisplayRoute(map, startLocation, endLocation) {
    const directionsService = new google.maps.DirectionsService();
    const directionsRenderer = new google.maps.DirectionsRenderer();
    directionsRenderer.setMap(map); 

    const route = {
        origin: startLocation,
        destination: endLocation,
        travelMode: 'DRIVING'
    };

    directionsService.route(route, function(response, status) {
        if (status === 'OK') {
            directionsRenderer.setDirections(response);
            const directionsData = response.routes[0].legs[0]; 
            if (directionsData) {
                const vehicleInfoInput = document.querySelector('#vehicles_info input[type="text"]');
                const vehicleInfoValue = vehicleInfoInput.value;
                document.getElementById('msg').innerHTML = directionsData.distance.text;
                document.getElementById('time').innerHTML = directionsData.duration.text;
                document.getElementById('car').innerHTML = vehicleInfoValue; 

                const vehicleWithLeastFuel = document.querySelector('#vehicles_info input[type="hidden"]');
                const fuel_amount = vehicleWithLeastFuel.value;

                const fuelAmount = parseFloat(fuel_amount) * 55 / 100;
                const distance = parseFloat(directionsData.distance.value) / 1000;
                const totalFuelCost = fuelAmount * distance;
                document.getElementById('fuel').innerHTML = totalFuelCost.toFixed(2) + ' ₴';
            }
        } else {
            alert('Directions request failed due to ' + status);
        }
    });
}

function deleteOrder(orderId) {
            if (confirm('Ви впевнені, що хочете видалити замовлення?')) {
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                fetch(`/delete_order/${orderId}/`, {
                    method: 'DELETE',
                    headers: {
                        'X-CSRFToken': csrftoken
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Замовлення видалено успішно');
                        window.location.reload();
                    } else {
                        alert('Помилка при видаленні замовлення: ' + data.error);
                    }
                })
                .catch(error => {
                    console.error('Помилка при видаленні замовлення:', error);
                    alert('Виникла помилка при видаленні складу');
                });
            }
         }
</script>

<script
  async
  defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP2My21tAxCqpHKTj6CgcetCtB6oMlQ9o&libraries=places&callback=initMap"
></script>
</body>
</html>