.start{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.start .text{
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(168, 168, 168, 0.2);
    width: 1316px;
    display: flex;
    gap: 30px;align-items: center;
}
.main_h1{
    border: none;
    padding-bottom: 0;
    margin:0;
    width: 219px;
}
.selector{
    display: flex;
    width: 375px;
    height: 44px;
    flex-direction: row;
    background: #EFEFEF;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.selector a{
    text-decoration: none;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}
.all_orders ul{
    display: flex;flex-direction: column;gap: 10px;
}
.all_orders ul li {
    display: flex;
    gap: 20px;
    border: 1px solid #D0D0D0;
    border-radius: 20px;
    padding: 24px;
    width: 455px;
    box-shadow: rgba(100, 100, 111, 0.081) 0px 7px 29px 0px;
    cursor: pointer;
}
.all_orders ul li h3{
    font-size: 16px;
    margin-bottom:7px;
}
.all_orders ul li h4{
    color: #727272;
    font-weight: 400;
    font-size: 14px;
}
.right{max-width: 498px;
    width: 100%;}