@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
@keyframes gradientAnim {
    from{
        opacity: 0;
          
    }
    to{
        opacity: 1;
    }
}
body {
    padding-bottom: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(89.8deg, #25565B 0.34%, rgba(37, 86, 91, 0) 134.23%);
    z-index: 100;
    width: 100%;
    align-items: center;
    animation: gradientAnim 1s;
    justify-content: space-between;
}
.logo{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.but{
    display: flex;
    align-items: center;
    gap: 2px;
    background: transparent;
    border: 0;
    cursor: pointer;
}
.but:active{
    transform: scale(0.98);
}
.home{
    width: 100%;
}
.home::before{
    content: "";
    position: absolute;
    height: 100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* backdrop-filter: blur(5px); */
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-out;
}
.home.show::before{
    opacity: 1;
    pointer-events: none;
}
.form_container{
    position: fixed;
    max-width: 320px;
    width: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1.2);
    z-index: 101;
    background:#fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease-out;
}
.home.show .form_container{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.signup_form{
    display: none;
}
.form_container.active .signup_form{
    display: block;
}
.form_container.active .login_form{
    display: none;
}
.form_container h2{
    color: #0b0217;
    text-align: center;
    font-size: 22px;
}
.uil-envelope,
.uil-times, .uil-lock, .uil-eye-slash, .uil-eye {
    width:20px;
}
.form_close{
    position: absolute;
    top:10px;
    right:20px;
    color:#0b0217;
    font-size: 22px;
    opacity:0.7;
    cursor: pointer;
}
.input_box{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 40px;
}
.input_box input{
    height:100%;
    width: 100%;
    border:none;
    outline:none;
    padding: 0 30px;
    color: #333;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaa;
}
.input_box input:focus{
    border-color:#25565B;
}
.input_box img{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.input_box img.email, .input_box img.password{
    left:0;
    color: #707070;
}
.input_box input:focus ~ img.email,
.input_box input:focus ~ img.password {
    filter: invert(28%) sepia(36%) saturate(637%) hue-rotate(137deg) brightness(91%) contrast(91%);
}
.input_box img.pw_hide{
    right: 0;
    cursor: pointer;
}
.option_field{
    margin-top: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_container a{
    color:#25565B;
    text-decoration: none;
    font-size: 12px;
}
.form_container a:hover{
    text-decoration: underline;
}
.checkbox{
    display: flex;
    column-gap: 8px;
    white-space: nowrap;
}
.checkbox input{
    accent-color: #25565B;
}
.checkbox label{
    font-size: 12px;
    user-select:none;
    color:#0b0217;
    cursor: pointer;
}
.form_container .button{
    color: #fff;
    margin-top: 30px;
    background: #25565B;
    width: 100%;
    padding: 12px 0;
    border-radius: 10px;
    cursor: pointer;
}
a{
    color:black;
    text-decoration: none;
}
.login_signup{
    font-size:12px;
    text-align: center;
    margin-top: 15px;
}

