.left {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.left .sklady h1{
    font-size: 48px;
}
.left .add_sklad{
    display: flex;
    padding: 21px 19px;
    flex-direction: row;
    gap: 22px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #D0D0D0;
    width: 365px;
    align-self: center;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.left .warehouse{
    padding: 24px;
    display: flex;
    gap: 18px;
    align-items: center;
    border: 1px solid #636262;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 455px;
}
.right .warehouse_input{
    display: flex;
    flex-direction: column;
    gap: 74px;
}
.right .warehouse_input .name_sklad, .right .warehouse_input .products, .right .warehouse_input .cars{
    display: flex;flex-direction: column;
    gap: 14px;
}
.right .warehouse_input .products div, .right .warehouse_input .cars div {
    display: flex;height: 57px;
    flex-direction: row;
    gap: 5px;
}
.right .warehouse_input .products #remove_tovar, .right .warehouse_input .cars #remove_avto{
    padding: 5px;
    background-color: #FF5C5C;
    cursor: pointer;
    border: 1px solid #D0D0D0;
    border-radius: 15px;
}
.right #save{
    display: flex;
    background-color: #25565C;
    border-radius: 15px;
    border: 1px solid #D0D0D0;
    cursor: pointer;
    color: white;
    width: 206px;
    height: 57px;
    justify-content: center;
    align-items: center;
}
.right .small_input{
    width: 57px;
}
.right .fuel{
    width: 100px;
}
@keyframes warehouseAppear {
    from { opacity: 0; transform: translateY(100px); }
    to { opacity: 1; transform: translateY(0px); }
  }

  /* Apply animation to .warehouse */
  .warehouse, .warehouse_input {
    animation: warehouseAppear 0.5s ease-out forwards;
  }
















html{
    overflow-y: hidden;
}
.left{
    display: flex;
    
}
.left table{
    border: none;
}
.left tbody{
    display: flex;
    flex-direction: column;
}

.left tr{
    z-index: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding-left: 132px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #636262;
    border-radius: 15px;
    width: 400px;
    background-image: url("sklad-icon.png");
    background-size: 91px 91px;
    background-repeat: no-repeat;
    background-position-x: 23px;
    background-position-y: center; 
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    border: 1px solid #D0D0D0;
    transition: all 0.4s ease;
}
.left tr:focus{
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.28);
    border: 1px solid #636262;
}
.left td{
    border: none;
}
.right{
    display: flex;
    flex-direction: column;
    max-width: 498px;
    width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 100px;
}
.right #editWarehouseForm{
    display: flex;
    flex-direction: column;
}
.right #editWarehouseForm input{
    width: 383px;
    height: 57px;
    padding: 13px;
    background: #FFFFFF;
    border: 1px solid #D0D0D0;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 24px;
}
.right #editWarehouseForm button{
    background: #25565C;
    border: 1px solid #D0D0D0;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    width: 206.25px;
    height: 47px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.right h1{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-top: 54px;
    margin-bottom: 15px;
    color: #000000;
}
.right span{
    width: 260px;
    padding: 13px;
    font-size: 16px;
    line-height: 24px;
}
.right input{
    padding: 13px;
    width: 260px;
    border-radius: 15px;
    font-size: 16px;
    line-height: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0;
}
.right table{
    border: none;
}
.right tbody{
    display: flex;
    flex-direction: column;
}
.right tr{
    display: flex;
    flex-direction: row;
}
.right td{
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    border: 1px solid #636262;
    border-radius: 15px;
    width: 260px;
    box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.1);
    border: 1px solid #D0D0D0;
}
